@import "tailwindcss";

@theme {
    --animate-slideLeft: slide-left 600ms ease-in-out;
    --animate-slideRight: slide-right 1s ease-in-out;
    --animate-zoomIn: zoom-in 600ms ease-in-out;
    
    @keyframes slide-left {
        0%,
        50% {
            transform: translateX(-100%);
        }
        50% {
            transform: translateX(0%);
        }
    }

    @keyframes zoom-in {
        0% {
            transform: scale(0.5);
        }
        50% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }

    @keyframes slide-right {
        0%,
        50% {
            transform: translateX(100%);
        }
        50% {
            transform: translateX(0%);
        }
    }
}

.animate-me {
    opacity: 1;
}
.animate-me02 {
    opacity: 1;
}
.animate-me03 {
    opacity: 1;
}
