---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Header from "@/components/Header.astro";
import Hero from "@/components/Hero.astro";
import SongList from "@/components/SongList.astro";
import Gallery from "@/components/Gallery.astro";
import Contact from "@/components/Contact.astro";
import Footer from "@/components/Footer.astro";
import { Image } from "astro:assets";
---

<Layout>
  <main
    class="flex flex-col items-center relative overflow-hidden justify-center w-full"
  >
    <Header />
    <Hero />
    <SongList />

    {/* Gradient Effects */}
    <div
      class="absolute top-[26%] right-0 z-40 min-w-[20vh] min-h-[35vh] bg-gradient-to-r from-transparent via-[#FFD700] to-transparent opacity-40 blur-3xl rotate-45 pointer-events-none"
    >
    </div>
    <div
      class="absolute top-[42%] right-0 z-40 min-w-[20vh] min-h-[40vh] bg-gradient-to-r from-transparent via-[#FFD700] to-transparent opacity-40 blur-3xl rotate-90 pointer-events-none"
    >
    </div>

    <Gallery />
    <Contact />
    <Footer />
    <!-- Modal -->
    <div
      id="videoModal"
      class="fixed inset-0 items-center justify-center bg-black bg-opacity-50 z-30 hidden"
    >
      <div class="relative w-3/4 h-3/4">
        <button
          id="closeModal"
          class="absolute -top-6 cursor-pointer -right-[5%] p-4 text-white font-bold text-xl"
        >
          X
        </button>
        <iframe
          id="videoModal"
          class="w-full h-full"
          src="https://www.youtube.com/embed/tgbNymZ7vqY"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>

    <!-- Modal -->
    <div
      id="imageModal"
      class="fixed inset-0 items-center justify-center bg-black bg-opacity-50 z-30 hidden"
    >
      <div class="relative w-3/4 h-3/4">
        <img id="modalImage" class="w-full h-full object-contain" />
        <button
          id="closeImageModal"
          class="absolute -top-6 cursor-pointer -right-[5%] p-4 text-white font-bold text-xl"
        >
          X
        </button>
      </div>
    </div>

    {/* WhatsApp Button */}
    <button
      class="fixed top-[80%] right-[5%] z-40 hover:scale-105 duration-300 cursor-pointer"
    >
      <Image
        src="/icons/logos--whatsapp-icon.svg"
        class="size-20"
        alt="WhatsApp"
        width={20}
        height={20}
      />
    </button>
  </main>
</Layout>